@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assets/background.jpg);
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#control-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    /* Adjust as needed */
    align-items: center;
    width: 400px;
    justify-content: space-around;
    background-color: #9d3b6692;
    padding: 10px;
    border: 3px rgba(255, 255, 255, 0.122) solid;
    border-radius: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
}

#control-center-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 10px;
}

#timer-div img {
    height: 45px;
}

button img {
    height: 20px;
}

button {
    height: 45px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    align-items: center;
    font-size: 17px;
    background-color: #545fc04e;
    color: aliceblue;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(205, 220, 255, 0.459);
}

button:active {
    opacity: 0.7;
}

#timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: beige;
    margin-right: 5px;
}

#gameboard {
    box-sizing: border-box;
    width: 660px;
    height: 660px;
    background-color: #2c1a6869;
    backdrop-filter: blur(30px);
    margin: 20px;
    border: 10px rgba(18, 17, 74, 0.618) solid;
    box-shadow: 0 0 20px rgb(19, 67, 176);
    /* border-radius: 15px; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.square {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: 5px solid rgba(18, 17, 74, 0.618); /* Use solid border to avoid anti-aliasing */
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 5;
    border-radius: 5px;

}
.square svg{
    height: 60px;
    width: 60px;
    background: transparent;
    position: relative;
    z-index: -5;
}

.pieces{
    z-index: 1;
}
path{
    z-index: -7;
    position: relative;
}

.dummy{
    background-color: #3b81199c;
}

#whose-turn {
    text-align: center;
    font-size: 1.7em;
    text-shadow: 1px 1px 5px rgb(227, 176, 234);
    /* Adjust as needed */
}

#left-right{
    display: flex;

}
#left-right button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}